body {
	background-color:black;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    color:white;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
}

.wrapper {
	width:900px;
	min-height:10px;
	margin: 0px auto;
	background-color:transparent;
}

.top {
	position:relative;
	width: 100%;
	height: 100px;
	background-color:transparent;
}


.logo{
	float:left;
	width: 100px;
	height: 50px;
	background-color:red;
	margin:20px 30px;

}

.row 
{
	min-height: 100px;
	width: 100%;
	margin: 10px auto;
	background-color:transparent;
	overflow:hidden;
	clear:both;
}
.cabinet
{
	margin: 0px auto;
	width:600px;
	background-color: #3399FF;
	min-height:200px;
	border-radius:10px;
	border: solid 4px gold;
}

.displayArea
{
	width:100%;
	height:50px;
	padding:10px;
}

.walletArea
{
	width:100px;
	height:50px;
	background-color:white;
	margin: 0px auto;
}
.bankDisplay {
	float:left;
	margin-left: 10px;
	background-color: #400000;
	min-width:10px;
	height:40px;
	padding:10px;
	border-radius:10px;
	border: solid 4px gold;
}
.creditsDisplay
{
	float:left;
	margin-left: 10px;
	background-color: #400000;
	width:60px;
	height:40px;
	padding:10px;
	border-radius:10px;
	border: solid 4px gold;
}

.bankText
{
	float:left;
	margin-left: 60px;
}
.scoreText
{
	float:left;
	margin-left: 60px;
}

.creditsText
{
	float:left;
	margin-left: 10px;
}
.scoreDisplay
{
	float:left;
	margin-left: 10px;
	background-color: #400000;
	min-width:150px;
	height:40px;
	padding:10px;
	border-radius:10px;
	border: solid 4px gold;
}

.display_txt
{
	float:left;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	font-size:30px;
	font-weight:bold;
	line-height: 40px;
}

.reel_txt
{
	color:red;
	font-family: Arial, Helvetica, sans-serif;
	font-size:40px;
	font-weight:900;
	line-height: 60px
}

.reel_outer
{
	margin: 0px auto;
	background-color:transparent;
	width:320px;
	height:90px;
}

.reel
{
	position:relative;
	float:left;
	background-color:white;
	width:80px;
	height:60px;
	margin-left:17px;
	margin-top:14px;
	text-align:center;
	border: 3px solid black;
	box-shadow: inset -1px 1px 14px 1px black;
}

.light-grey
{
	background: #66FFFF;
}

/*--NAV--*/

.nav
{
	margin: 0px auto;
	background-color:transparent;
	width:470px;
	height:90px;
	z-index:4px;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li 
{
    float: left;
    margin-left:5px;
}

a:link, a:visited 
{
    display: block;
    width: 150px;
    height:60px;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    background: black;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 60px;

}

a:hover, a:active {
    background-color: green;
}


.blink {
    color: white;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    50%   {color: red;}
    50%  {color: white;}
    50%  {color: red;}
}

/* Standard syntax */
@keyframes example {
    50%   {color: red;}
    50%  {color: white;}
    50%  {color: red;}
}